@font-face {
    font-family: "Archivo Black";
    src: local("/fonts/Archivo Black.ttf"),
    url("/fonts/Archivo Black.ttf") format("truetype");
}

@font-face {
    font-family: "Mc";
    src: local("/fonts/Mc.ttf"),
    url("/fonts/Mc.ttf") format("truetype");
}

@font-face {
    font-family: "rd";
    src: local("/fonts/rd.ttf"),
    url("/fonts/rd.ttf") format("truetype");
}

@font-face {
    font-family: "cm";
    src: local("/fonts/cm.ttf"),
    url("/fonts/cm.ttf") format("truetype");
}



