body {
    background: url(../images/intro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

br {
    margin: 3px 0;
}
#text-responsive {
     font-size: calc(100% + 2vw + 2vh);

 }

.first {
    font-family: "rd", serif;
    text-align: center;
    color: #ECE2D7;
    text-shadow: 2px 2px black;
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


span.tree{
    color: darkgreen;
}
span.number{
    float: right;
    font-family: "cm", serif;
    color: #ECE2D7;
    text-shadow: 2px 2px black;

}
span.last_row{

    display: flex;
    justify-content: left;
    align-items: flex-start;
}
span.good_luck{

    display: flex;
    justify-content: left;
    align-items: flex-start;
}
span.save_xmas{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
img {
    width: 40% !important;
    height: auto !important;
    float: left;

}






