body {

    background-size: cover;
    background-repeat: no-repeat;
    background-color: #192824;
    text-align: center;
    width: 2750px;
    font-size: 35px;

}
p {
    text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
}





