body {

    background: url(../images/TreeSnowman.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html, body {
    height: 100%;
}


#xmas_lights {
    height: 100%;
    margin-left: 0vh;
    position: absolute;
    width: 100%;
    z-index: -1000
}

.light_cord {
    fill: none;
    stroke: #174700;
}

.light_fixture {
    fill: #134413;
}

.red_bulb {
    fill: #CA2128;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.green_bulb {
    fill: #2D754A;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.blue_bulb {
    fill: #2C3EA8;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.white_bulb {
    fill: #F5EED7;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.gold_bulb {
    fill: #ffcc5e;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@-webkit-keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1
    }
}

@keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1.0
    }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.blink-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-4 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.blink-5 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.blink-6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.blink-7 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-8 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.blink-9 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
}

.blink-10 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}


form {
    margin-top: 40%;
    display: flex;
    height: 39vh;
    width: 70vh;
}

.text1 h3{
    margin-top: 1vh;
    margin-left: 1vh;
    font-family: "cm", serif;
    font-size: 2.5vh;
}

.text2 {
    margin-right: 10vh;
    font-family: "cm", serif;
}

.bgSizeContain {
    background-image: url(../images/letter.jpg);
    background-size: contain;
    height: 39vh;
    width: 70vh;
    resize: both;
}

.col-6 {
    float: left;
    width: 25%;
    margin-top: 16vh;
}

.col-9 {
    float: left;
    width: 75%;
    margin-top: 17vh;
}


input,
textarea {
    font-family: "cm", serif !important;
    font-size: 2vh !important;
    border: none;
    outline: none;
    width: 65%;
    height: 3vh;
    background: none;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

button {

    font-family: "cm", serif;
    font-weight: bold;
    font-size: 5px;
    border: 1px solid #333;
    color: white;
    padding: 2px;
    background: mediumseagreen;
    cursor: pointer;
    transform: rotate(-1.5deg);
}

.button4 {
    border-radius: 5px;
}


button:after {
    content: ">>>";
}

button:hover,
button:focus {
    outline: none;
    background: #000;
    color: #fff;
}

.img_container {
    width: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 70vh;
}

#text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}


img {
    width: 40% !important;
    height: auto !important;
}

@media screen and (max-width: 1000px) {
    .form {
        background-size: contain;
        resize: both;
    }

    .text1 h3 {
        font-size: calc(1% + 0.8vw + 0.8vh);
    }

    .text2 h4 {
        margin-bottom: 1vh;
        font-size: calc(1% + 0.8vw + 0.8vh);
    }

    .btn {
        height: 25%;
    }

    .col-sm-4 {
        margin-left: 5vh;
    }
}
