body {

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/TreeSnowman.jpg);
    background-color: #192824;
}


#Christmas_Lights {
    height: 100%;
    margin-left: -7px;
    position: absolute;
    width: 100%;
    z-index: -1000
}

.light_cord {
    fill: none;
    stroke: #174700;
}

.light_fixture {
    fill: #134413;
}

.red_bulb {
    fill: #CA2128;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.green_bulb {
    fill: #2D754A;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.blue_bulb {
    fill: #2C3EA8;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.white_bulb {
    fill: #F5EED7;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}

.gold_bulb {
    fill: #ffcc5e;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@-webkit-keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1
    }
}

@keyframes glow {
    0% {
        fill-opacity: 0.25;
    }
    100% {
        fill-opacity: 1.0
    }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.blink-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-4 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.blink-5 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.blink-6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.blink-7 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.blink-8 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.blink-9 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
}

.blink-10 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}


form {
    position: absolute;
    width: 620px;
    height: 352px;
    margin-left: 550px;
    top:270px;
    background-image:url(../images/letter.jpg);
    font-family: "cm", serif;
    font-size: 12px;


}
input,
textarea{

    border: none;
    padding: 0 15px;
    margin: 0;
    width: 60%;
    background: none;
}
.to{
    position: absolute;
    margin-left: 350px;
    bottom: 160px;
}
.from{
    position: absolute;
    margin-left: 350px;
    bottom: 126px;
}
.reply{
    position: absolute;
    margin-left: 350px;
    bottom: 93px;
}
.solution{
    position: absolute;
    margin-left: 350px;
    bottom: 49px;
}
.message{
    font-size:25px;
    position: absolute;
    margin-left: 25px;
    bottom: 15px;
}

button {
    position: absolute;
    margin-left: 400px;
    height: 30px;
    width: 100px;
    bottom: 30px;
    font-family: "cm", serif;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    transform: rotate(-1.5deg);
}

button:after {
    content: ">>>";
}

button:hover,
button:focus {
    outline: none;
    background: #000;
    color: #fff;
}

img{
    position: absolute;
    margin-left: 60px;
    bottom: 70px;
    z-index: revert;

}

audio{
    height: 10px;
    width: 10px;
    position: absolute;
    margin-left: 70px;
    bottom: 80px;
    z-index: 10000;


}
